In [16]:

from sklearn.model_selection import ShuffleSplit
import xgboost as xgb
import sys
sys.path.append("../") 
from dataset.nhanes import NHANESDataset
from wrapper.xgboost_aft.xgboost_aft import XGBoostAFTWrapper
import numpy as np
import pandas as pd

# NHANES

In [17]:
data = NHANESDataset()

/mnt/c/Users/rizki/Master Files/ThesisUMCG/Survival-Tree-Analysis/src/notebook/../dataset/nhanes.py:68: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.data.replace({False: 0, True: 1}, inplace=True)

In [18]:
d = data.get_data()
d

array([[  0.        ,  51.        ,   3.        , ..., 110.        ,
         40.        ,  25.40680287],
       [  0.        ,  41.        ,   2.        , ..., 136.        ,
         54.        ,  24.58833109],
       [  1.        ,  31.        ,   2.        , ..., 110.        ,
         24.        ,  23.75650236],
       ...,
       [  1.        ,  47.        ,   2.        , ..., 108.        ,
         28.        ,  17.9151988 ],
       [  1.        ,  61.        ,   8.        , ..., 180.        ,
         68.        ,  27.33162171],
       [  0.        ,  29.        ,   3.        , ..., 152.        ,
         60.        ,  33.16143518]])

In [19]:
X_train, X_test, y_train, y_test = data.get_train_test_xgboost()

In [20]:
y_train

       Survival_label_lower_bound  Survival_label_upper_bound
7556                    13.750000                   13.750000
819                     11.500000                   11.500000
12960                   17.833333                         inf
4609                    12.083333                   12.083333
5028                    20.083333                         inf
...                           ...                         ...
5191                     2.500000                    2.500000
13418                    0.833333                    0.833333
5390                    20.000000                         inf
860                      6.250000                    6.250000
7270                    14.583333                         inf

[11411 rows x 2 columns]

In [22]:
XGBoostModel = XGBoostAFTWrapper(
    max_depth=6, 
    function='normal',
    sigma=0.1,
    learning_rate=0.1,
    lambda_=0.01,
    alpha=0.02,
    num_boost_round=1000,
    early_stopping_rounds=50,
)

In [23]:
XGBoostModel.fit(
    X_train, 
    y_train
)

In [24]:
XGBoostModel._score(
    X_test, 
    y_test
)

0.7921405360487797

In [26]:
XGBoostModel.save('xgboost.pkl')

In [28]:
NewXGBoostModel = XGBoostAFTWrapper()
NewXGBoostModel = XGBoostModel.load('xgboost.pkl')

In [29]:
NewXGBoostModel._score(
    X_test, 
    y_test
)

0.7921405360487797